textarea {
    padding: 1rem;
    display: block;
    width: 90%;
    height: 10rem;
    margin: 10px;
    border: 1px solid black;
}

#btn-translate {
    margin-left: 10px;
}

#output-text {
    padding: 1rem;
    width: 90%;
    display: block;
    height: 10rem;
    margin: 10px;
    border: 1px solid black;
}

body {
    margin: 0;
}

#txt-input{
    margin: auto;
    margin-bottom: 20px;
}

#output-text{
    margin:auto;
    margin-bottom: 20px;
}

.header {
    margin: 0;
       height: 100px;
    width: 100%;
    background-color: rgb(240, 197, 51);
}

section h1 {
    text-align: center;
    padding-top: 2rem;
}

h2 {
    text-align: center;
}

#btn-translate {
    height: 8vh;
   display: block;
    width: 20vh;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(240, 197, 51);
    border: 1px solid black;
}

.footer {
    padding-top: 0.5rem;
    font-weight: bolder;
    text-align: center;
    color: black;
    height: 100px;
    width: 100%;
    background-color: rgb(240, 197, 51);
}

.list-non-bullet {
    list-style: none;
}

.link {
    text-decoration: none;
    padding: 0rem 1rem;
}

.footer ul {
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

#btn-translate:hover {
    border: none;
    font-weight: bold;
    background-color: rgb(240, 186, 11);
}